.b-table {
  table-layout: fixed;
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.b-table__caption {
  margin: 0;
  padding: 0 15px;
  text-align: left;
  border: 1px solid transparent;
}
.b-table__col {
  height: 2em;
  padding-left: 15px;
  padding-right: 15px;
  background: #f2f2f2;
  border: 1px solid;
  border-color: #fff #f2f2f2 #fff #f2f2f2;
}
.b-table__col_title {
  width: 25%;
}
.b-table__row_group .b-table__col_title {
  font-weight: normal;
}
.b-table__row_group._shown .b-table__col_title {
  font-weight: bold;
}
.b-table__row_item .b-table__col_chunk {
  background: #e2e2e2;
}
.b-table__head .b-table__col {
  font-weight: normal;
  text-align: left;
}
.b-schedule-issue__title {
  display: block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 20px;
}
.b-table-schedule__caption {
  height: 80px;
  margin: 0;
  padding: 0 15px;
  padding-bottom: 30px;
  text-align: left;
  border: 1px solid transparent;
}
.b-table-schedule__caption-inner {
  position: relative;
  height: 50px;
}
.b-table-schedule__caption-title > button {
  width: 100%;
  height: 50px;
  line-height: 28px;
}
.b-table-schedule__caption-nav {
  position: relative;
  height: 30px;
}
.b-table-schedule__caption-nav_prev {
  margin-left: -15px;
  text-align: right;
}
.b-table-schedule__caption-nav_next {
  margin-right: -15px;
  text-align: left;
}
.b-table-schedule__caption-nav > a {
  display: block;
  width: 100%;
  padding: 0 15px;
  line-height: 50px;
}
.b-table-schedule__caption-nav > a:hover {
  background: #e2e2e2;
}
.b-table-schedule__caption-nav_mode {
  text-align: center;
}
.b-table-schedule__caption-nav_mode > a {
  display: inline-block;
  width: auto;
}
.b-table-schedule__caption-nav_mode > a:hover {
  background: transparent;
}
.b-table-schedule__caption-menu {
  line-height: 30px;
  font-size: 12px;
}
.b-table-schedule__caption-menu a {
  color: #aaaaaa;
}
.b-table-schedule__caption-menu a:hover {
  color: #212121;
}
.b-table-schedule__caption-menu a._active {
  font-weight: bold;
  color: #212121;
}
.b-table-schedule-head-date {
  display: block;
  position: relative;
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 11px;
  color: #777;
}
.b-table-schedule-head-date > a {
  display: block;
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.b-table-schedule-head-date > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.b-table-schedule-head-date > b {
  display: block;
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 20px;
  text-align: center;
  font-weight: normal;
}
